{
"gmail_address": "XXXXXXXXX@gapps.yrdsb.ca",
"yrdsb_password": "XXXXXXXXXXX",
"worker_visible": false,
"geckodriver_path": "/usr/bin/geckodriver",
"geckodriver_log": "./geckodriver.log",
"chromedriver_path": "/usr/bin/chromedriver",
"chromedriver_log": "./chromedriver.log",
"render_backend": "chromedriver",
"discord_url": "https://discord.com/api/webhooks/XXXXXXXXXXXXX",
"verbose": true,
"admin_user_id": 1234567890,
"run_on_weekends": false,
"class_data": [
	{
		"name": "Mathematics",
		"teacher": "John Doe",
		"start_time": "08:00",
		"end_time": "15:00",
		"period": 1,
		"role": 1234567890,
		"link": "https://meet.google.com/lookup/XXXXXXXXXX",
		"enabled": true
	}
]
}
